{% extends 'navbar.html' %}

{% block contenu %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
    <div style="overflow-x: hidden;">
        <div class="sc-dkzDqf pfLsb" style="background: rgb(255, 255, 255);">
            <h1 font-size="40px" color="#a703f3" class="sc-crXcEl cpNTrH"><br>Ally &amp; Truces</h1>
            <div class="sc-evZas dnKNFq">
                <form action="" class="sc-breuTD kEdjYU">
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quel est le nom de
                            votre faction ?</label>
                        <div class="sc-fnykZs hRZSUI"><input type="text" id="nom"></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Combien de membres
                            contient-elle ?</label>
                        <div class="sc-fnykZs hRZSUI"><input type="text" id="mem"></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quel est le
                            discord de la personne sur notre serveur chargé des relations faction de votre faction
                            (probablement vous) ?</label>
                        <div class="sc-fnykZs hRZSUI"><input type="text" id="amb"></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Pouvez vous
                            décrire votre faction le plus précisément possible ?</label>
                        <div class="sc-fnykZs hRZSUI"><textarea class="xxl" id="des" minlength="450"
                                required=""></textarea></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Depuis combien de
                            temps avez-vous créée votre faction ?</label>
                        <div class="sc-fnykZs hRZSUI"><textarea class="l" id="tem" required=""></textarea></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quelle type
                            d'alliance recherchez vous avec nous ? (Pacte de non agression, truces ou ally)</label>
                        <div class="sc-fnykZs hRZSUI"><input type="text" id="c1"></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quelle est la
                            moyenne d'age dans votre faction ?</label>
                        <div class="sc-fnykZs hRZSUI"><input type="text" id="c4"></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF"> Pourquoi postulez
                            vous pour une truce/Ally/Pacte de non agression avec la SweetDream ?</label>
                        <div class="sc-fnykZs hRZSUI"><textarea class="l" id="pqp" required=""></textarea></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quels projets
                            avez-vous déjà mené dans votre faction (seuls ou avec vos allys) ?</label>
                        <div class="sc-fnykZs hRZSUI"><textarea class="m" id="pro" required=""></textarea></div>
                    </div>
                    <div class="sc-ksZaOG iUXwOM"><label color="#7a7a7a" class="sc-hAZoDl bTZIlF">Quel projet
                            voudriez-vous faire avec notre faction ?</label>
                        <div class="sc-fnykZs hRZSUI"><textarea class="xl" id="fai" required=""></textarea></div>
                    </div><button type="submit" value="push">Envoyer</button>
                </form>
            </div>
        </div>
        <footer class="sc-bczRLJ eGgtQx">
            <div class="sc-gsnTZi SJxSk">© 2022 - <span>Tous droits réservés. Développé par Sai, Iukes et
                    Anino</span></div>
        </footer>
    </div>
</div>
{% endblock %}