{% extends 'navbar.html' %}

{% block contenu %}
<div id="root">
    <div style="overflow-x: hidden;">
        <div class="sc-dkzDqf pfLsb" style="background: rgb(255, 255, 255);">
            <h1 font-size="40px" color="#a703f3" class="sc-ikZpkk kGHBjQ"><br>Recrutements</h1>
            <div class="sc-jIZahH cgtUlZ">
                <form action="" method="POST" class="sc-himrzO fTNlRr">
                    {% csrf_token %}
                    {{form.as_p}}
                    <!-- <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Pseudo
                            Discord</label>
                        <div class="sc-ciZhAO jHsMub"><input class="error" id="psdiscord" type="text"></div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Pseudo
                            Minecraft</label>
                        <div class="sc-ciZhAO jHsMub"><input class="error" id="psmc" type="text"></div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Anciens Pseudos
                            (Minecraft/Discord)</label>
                        <div class="sc-ciZhAO jHsMub"><input class="error" id="anps" type="text"></div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Avez-vous des
                            problèmes orthographiques (dyslexie, dysorthographie, problemes de concentration,
                            etc...) ? Cela n'aura aucun impact dans la faction !</label>
                        <div class="sc-ciZhAO jHsMub"><input class="error" id="c1" type="text"></div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Présentez vous IRL
                            (N'hésite pas à parler de toi, nous voulons en savoir davantage sur toi, par exemple :
                            ton âge, ton prénom, tes études et/ou ton métiers, tes passions). (au moins 450
                            caractères)</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="xxl error" id="prirl" minlength="450"
                                required=""></textarea></div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Comment et depuis
                            quand connaissez vous Minecraft. Quels sont vos domaines de prédilection</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="l error" id="cnmc" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv"> Comment
                            connaissez vous paladium. Vos domaines de prédilection sur paladium. Quel est votre
                            avancement en jeu ?</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="l error" id="cmpl" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Avez vous déjà eu
                            des sanctions sur Paladium, et des serveurs Discord concernant Paladium ? Si oui
                            pourquoi ?</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="m error" id="sapl" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Pourquoi voulez
                            vous rejoindre une faction ? Pourquoi la SweetDream et pas une autre faction ? Êtes vous
                            prêt à "TryHard" pour la faction ? donnez moi la définition du terme Tryhard (avec vos
                            mots)</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="xl error" id="pqsd" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Avez vous eu des
                            factions précédemment ? Si oui lesquelles ? Pourquoi avez vous rejoint ses factions ? Et
                            pourquoi les avez vous quittée(s) ? (toutes saison confondu )</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="xl error" id="fcrc" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Avez vous des
                            objectifs sur Paladium ? Qu'est ce que vous voulez faire sur Paladium ?</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="m error" id="objpl" required=""></textarea>
                        </div>
                    </div>
                    <div class="sc-gXmSlM cvvFMf"><label color="#7a7a7a" class="sc-cCsOjp cwPEPv">Quelles sont vos
                            disponibilités ?</label>
                        <div class="sc-ciZhAO jHsMub"><textarea class="l error" id="disp" required=""></textarea>
                        </div>
                    </div> -->
                    <button type="submit" value="push">Envoyer</button>
                </form>
            </div>
        </div>
        <footer class="sc-bczRLJ eGgtQx">
            <div class="sc-gsnTZi SJxSk">© 2022 - <span>Tous droits réservés. Développé par Sai, Iukes et
                    Anino</span></div>
        </footer>
    </div>
</div>
{% endblock %}